.favorite-recipes-section {
  padding: calc(20vh - 10vmin) 16px 5vh;
}

.favorite-recipes-container {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 95%;
}

.favorite-recipe-card {
  background-color: #fffceeda;
  border-radius: 8px;
  box-shadow: 0 0.5px 3px #0d0d0dda;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 20%;
  margin: auto;
  margin-top: 5%;
  padding: 8px 12px;
}

.favorite-recipe-card .favorite-recipe-img {
  align-items: center;
  contain: content;
  display: flex;
  grid-column: 1;
  grid-row: 1;
  margin: 8px 8px 0 0;
}

.favorite-recipe-card .favorite-recipe-img img {
  border-radius: 8px;
  width: 100%;
}


.favorite-recipe-card .favorite-recipe-info {
  grid-column: 2;
  text-align: center;
}

.favorite-recipe-card .favorite-recipe-info h4 {
  color: #3f6473;
  font-weight: 600;
}

.favorite-recipes-btns {
  align-items: center;
  display: flex;
  grid-column: 1/3;
  grid-row: 2;
  justify-content: space-around;
}

.favorite-recipes-btns .hidden-heart {
  width: 0;
}
