.profile-content {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: calc(5em + 5vmin) 0 calc(3em + 5vmin);
}

.profile-content h5 {
  color: #1f3741;
  font-weight: 600;
}

.links-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-top: calc(1em + 5vmin);
}

.links-container button {
  background-image: linear-gradient(to top, #a64f03, #402208da 25%, #a64f03);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 0.7px 3px 0.7px black;
  color: white;
  font-size: calc(1em + 1vmin);
  font-weight: 600;
  margin: 8% 0;
  padding: 12px;
}

.links-container .logout {
  background-image: linear-gradient(to top, #a63703da, #401508da 25%, #a63703);
  margin-top: calc(3em + 15%);
}
